[submodule "BT-AI-Course"]
	path = BT-AI-Course
	url = https://github.com/srush/BT-AI
[submodule "Verizon"]
	path = Verizon
	url = https://github.com/sahar-sami/amazon-reviews-sentiment-analysis
[submodule "JPMC1"]
	path = JPMC1
	url = https://github.com/JZBlank/JPMorganChase-Meme-Stocks.git
[submodule "JPMC2"]
	path = JPMC2
	url = https://github.com/EstherWhang/jpm_changepoint.git
[submodule "CapitalOne"]
	path = CapitalOne
	url = https://github.com/connieDeng/Capital-One-QnA.git
